# Vault policy: netbox-read
path "{{ vault_kv_mount_path | default('secret') }}/data/netbox/*" {
  capabilities = ["read"]
}

path "{{ vault_kv_mount_path | default('secret') }}/metadata/netbox/*" {
  capabilities = ["read", "list"]
}

path "auth/token/lookup-self" {
  capabilities = ["read"]
}

path "sys/capabilities-self" {
  capabilities = ["update"]
}
