name: Sync to School Repo

on:
  push:
    branches: [main]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Push to school repo
        run: |
          git remote add school https://x-access-token:${{ secrets.SCHOOL_REPO_TOKEN }}@github.com/EpitechMscProPromo2027/T-NSA-810-NAN_5.git
          git push school main --force